header {
  border: 1px solid #f0f0f0;
  padding: 16px 0 16px 0;
  .nav-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__brand {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    button {
      border-radius: 4px;
      background: #ff7010;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      outline: none;
      border: none;
      gap: 5px;
      &:active {
        background: #8c796d;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      span {
        color: var(--White, #fff);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }
}
