.row {
  .col {
    img {
      position: relative;
    }
    p {
      width: 240px;
      position: absolute;
      margin-top: -70px;
      margin-left: 20px;
      color: #fff;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }
}
